body {
    margin : 0;
}

img{
    width : 300px ;
    height : 350px
}

*{
    box-sizing: border-box;
}
h1{
    background-color: aqua;
    width : 100%
    padding : 10px;
}

a1{
    color : blue;
    background-color : chartreuse;
    border: 2px solid red;
    border-radius: 10px;
    padding: 20px;
}
h3{
    background-color: rgb(255, 0, 0);
    padding : 10px;
}

article{
    display : inline-block;
}